.bio{
    color: rgb(213, 226, 224);
}
.picInfo {
    color: rgb(213, 226, 224);
}

.main {
    margin-top: 4rem;
}

.homeBack {
    background-image: url("../images/bgimage3.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingDiv {
    padding-top: 100px;
}

.mainName {
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-shadow: 10px 10px 8px black;
}

input, label {
    display:block;
}

.eduList {
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}